# Entornos virtuales
backend/venv/
ml/venv/

# Archivos de modelos grandes
ml/models/**/*.pth
ml/models/**/*.h5
ml/models/**/*.bin

# Dependencias
frontend/node_modules/
__pycache__/
*.pyc

# Archivos de sistema y IDE
.DS_Store
.idea/
.vscode/